[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-RamSar/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-RamSar/orders-microservice.git
[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-RamSar/client-gateway.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-RamSar/payments-ms.git
